{
	"printWidth": 150,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"endOfLine": "lf",
	"useTabs": true,
	"tabWidth": 2,
	"jsxBracketSameLine": true,
	"bracketSpacing": false
}
