<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Heartthrob" value="https://pkgs.dev.azure.com/vtnorton/_packaging/Heartthrob/nuget/v3/index.json" />
  </packageSources>
	 <packageSourceCredentials>
    <Heartthrob>
      <add key="Username" value="___nugetUser___" />
      <add key="ClearTextPassword" value="___nugetPassword___" />
    </Heartthrob>
  </packageSourceCredentials>
</configuration>