/* TODO: Levar correção para o heartthrob */
.header .right ul li:last-child .menu li svg,
.header .right ul li:last-child .menu li i,
.header .menu li:last-child a i,
.header .menu li:last-child a svg {
	margin-top: 1px;
}

.header .ms-Persona {
	height: 48px !important;
	padding-left: 10px;
	padding-bottom: 4px;

	.primaryText-55 {
		color: #fff;
	}
}
